.filterMain {
  margin-top: 1em;
  margin-bottom: 1em;
}

.filterList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1rem;
  font-size: 1rem;
}

.filterListIndv {
  cursor: pointer;
  transition: all 0.07s ease-in-out;
}

.filterListIndv:hover {
  color: #fe0000;
}

@media screen and (max-width: 768px) {
  .filterList {
    font-size: calc(9px + 0.390625vw);
    gap: 1rem;
    text-align: center;
  }
}

/* article */

.column {
  border: 1px solid black;
  margin-bottom: 2em;
  break-inside: avoid;
}

.articlesContainer {
  max-width: auto;
  margin: 0 auto;
  display: column;
  columns: 3;
  column-gap: 2em;
  gap: 1em;
  grid-auto-flow: dense;
}

.sitename {
  padding: 0.15rem;
  padding-left: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: hsl(0, 100%, 89%);
  border-bottom: 1px solid black;
}

.newsCardTitleCont {
  padding: 2% 5% 2% 5%;
}

.newsCardTitle {
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  color: blue;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.newsCardTitle:hover {
  color: #fe0000;
}

.selected {
  color: red;
  text-decoration: underline;
}

.publishedAt {
  font-size: 0.75rem;
  color: black;
}

@media screen and (max-width: 768px) {
  .articlesContainer {
    columns: 1;
  }
}
