.newsCard {
  max-width: auto;
  margin: 0 auto;
  display: column;
  columns: 3;
  column-gap: 2em;
  gap: 1em;
  grid-auto-flow: dense;
}

.newsCard > * {
  break-inside: avoid;
  margin-bottom: 1em;
}

.newsCardMainCont {
  border: 1px solid black;
}

.newsCardSite {
  padding: 0.15rem;
  padding-left: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: hsl(0, 100%, 89%);
  border-bottom: 1px solid black;
}

.newsCardTitleCont {
  padding: 2% 0% 2% 5%;
}

.newsCardTitle {
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  color: blue;
  transition: all 0.05s ease-in-out;
}

.newsCardTitle:hover {
  color: #fe0000;
}

.newsCardTitleheadline {
  cursor: pointer;
}

.newsCardTitleHours {
  color: black !important;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .newsCard {
    columns: 1;
  }
}
